@media screen and (max-width: 600px) {
    html {
        font-size: 0.6rem;
    }
}

body {
    text-align: center;
}


/* HEADER */

.header {
    background-color: #BEDDF9;
}

.navbar {
    padding: 2% 5%;
}

.profile-pic {
    border-radius: 100%;
    height: 40px;
}

@media screen and (min-width: 426px) {
    .profile-pic {
        height: 60px;
    }
}

@media screen and (min-width: 769px) {
    .profile-pic {
        height: 75px;
    }
}

.page-title {
    margin: 2% 0;
}

.page-title h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.skyline {
    width: 100%;
}

.copyright {
    color: #8f8f8f;
}