body {
    text-align: center;
}


/* HEADER */

.header {
    background-color: #BEDDF9;
}

.navbar {
    padding: 2% 5%;
}

.profile-pic {
    border-radius: 100%;
    height: 75px;
    width: 75px;
}

.page-title {
    margin: 2% 0;
}

.page-title h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.skyline {
    width: 100%;
}

.copyright {
    color: #8f8f8f;
}